.sidebar-container{
    padding: 1rem;
    min-width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 4.5fr 2.5fr 2fr 2fr;
}
.input-container{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid grey; */
    border-radius: 2rem;
}
.input-container input{
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 .5rem;
    font-size: 20px;
    color: black;
    outline: none;
}
.close-btn{
    min-width: 45px;
    height: 45px;
    background: rgba(0,0,0,.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.close-sidebar{
    display: none;
}
.search-btn{
    min-width: 45px;
    height: 45px;
    background: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s all;
}
.search-btn:hover{
    background: #fdc500;
}

/* ------- weather image container ----- */

.weather-image{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(#12100E,#2B4162); */
    background: linear-gradient(#00c5fb,#005bea98);
    border-radius: 1rem;
}

.weather-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.weather-container h2{
    font-size: 4rem;
    display: flex;
    font-weight: 400;
}
.weather-container h2 span{
    font-size: 28px;
    padding-top: 15px;
    font-weight: 600;
}
.weather-container h3{
    font-size: 18px;
    font-weight: 400;
}
.weather-container h3 span{
    color: rgba(0,0,0,.4);
}

/* ------------ cloud container -------  */

.cloud-container{
    width: 100%;
    height: 100%;
    border-top: 1px solid rgba(0,0,0,.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.cloud-container h4{
    font-size: 20px;
    font-weight: 400;
    color: black;
}
.details-btn {
    padding: 1.2rem .3rem;
    background: black;
    color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    transition: .3s all;
    border: 2px solid black;
}
.details-btn:hover{
    background: transparent;
    color: black;
}
/* ------ city container ------  */

.city-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.city-container .image-background{
    width: 100%;
    height: 110px;
    background: rgba(0,0,0,.1);
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    overflow: hidden;
}

.image-background img{
    width: 100%;
}

.city-container h1{
    font-size: 20px;
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
    width: 80%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
}


@media screen and (max-width:765px) {
    .close-sidebar{
        display: flex;
    }
}